<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <ul>
                    <li>
                        Research team:
                        <ul>
                            <li>Guillermo Escrivá Escrivá (IP1)</li>
                            <li>Carlos Roldán Blay (IP2)</li>
                            <li>Carlos Roldán Porta</li>
                            <li>Isabel Martón Lluch</li>
                            <li>Eduardo Quiles Cucarella</li>
                            <li>Francisco José Morant Anglada</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        Working team:
                        <ul>
                            <li>Emilio García Moreno</li>
                            <li>Salvador Cucó Pardillos</li>
                            <li>Manuel Ángel García Peiró</li>
                            <li>Virginia Espinosa Ruiz</li>
                            <li>Mutaz Alajami</li>
                        </ul>
                    </li>
                    <br>
                    <li>
                        Research technicians:
                        <ul>
							<li>Martí Segarra Balaguer</li>
                            <li>Víctor Pascual Muñoz</li>
                        </ul>
                    </li>
					<br>
                    <li>
                        Contributors:
                        <ul>
                            <li>Daniel Dasí Crespo</li>
                            <li>Jaime Martinez Sanchez</li>
                        </ul>
                    </li>
                </ul>
            </section>
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>