<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <h2>JANUARY 2023</h2>
                <p>Development of the application for the graphical visualization of data.</p>
                <img class="img-fluid" src="/img/visualizador.png" alt="">
            </section>
            <section class="container p-4 mt-5">
                <h2>FEBRUARY 2023</h2>
                <p>Development of the INASOLAR website</p>
                <img class="img-fluid" src="/img/web_screenshot.png" alt="">
            </section>
            <section class="container p-4 mt-5">
                <h2>MARCH 2023</h2>
                <p>Development of the application to select days similar to each other taking into account meteorological variables.</p>
                <img class="img-fluid" src="/img/similar.png" alt="">
            </section>
			<section class="container p-4 mt-5">
			<h2>APRIL 2023</h2>
			<p>Development of a second application to select similar days among each other. In this case, the importance of meteorological 	  variables can be indicated by assigning weights to them in order to observe the relevance of each one.</p>
			<img class="img-fluid" src="/img/similar_ponders.png" alt="">
		</section>
		<section class="container p-4 mt-5">
			<h2>MAY AND JUNE 2023</h2>
			<p>Development and implementation of an application that allows simulating hourly electricity generation through distributed renewable energy resources based on a known demand. With this application, the appropriate size of each renewable generating plant can be determined according to the desired objective (minimizing energy exchanges with the grid, minimizing energy purchase costs, maximizing profits from energy sales, etc).</p>
			<img class="img-fluid" src="/img/resource_allocation.png" alt="">
            <p>Además, durante estos meses se ha adquirido una carga electrónica RLC que servirá para la simulación de diferentes escenarios de consumo.</p>
			<p class="text-center"><img class="img-fluid" src="/img/RLC.jpg" alt=""></p>
		</section>
		<section class="container p-4 mt-5">
			<h2>JULY 2023</h2>
			<p>Improvement of the graphical interface of the created applications, adding new functionalities and graphics for a better understanding of the generated results.</p>
            <p>In the case of the "resource allocation" app, the display of renewable generation has been improved as shown in the following image.</p>
			<p class="text-center ms-5">
                <img class="img-fluid" src="/img/resource_allocation_july.png" alt="">
            </p>
			<p>In addition, during the month of July, a generator set was purchased and installed on the roof of the building to simulate the generation of a biogas plant. This generator is located next to the solar panels available for recording photovoltaic generation.</p>
			<p class="text-center">
                <img class="img-fluid w-25" src="/img/biogas_roof1.jpg" alt="">
				<img class="img-fluid w-25 ms-5" src="/img/biogas_roof2.jpg" alt="">
            </p>
        </section>
        <section class="container p-4 mt-5">
            <h2>SEPTEMBER DE 2023</h2>
            <p>Integration of the generator set control panel in the general control room. At present, this room is equipped with:</p>
            <ol>
                <li>Inverter PV solar panels.</li>
                <li>Generating set control and command panel.</li>
                <li>RLC electronic load to simulate different consumption scenarios.</li>
            </ol>
            <p>All these systems are being integrated into the system for the future simulation of a grid-connected microgrid scenario.</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/cuadro1.jpg" alt="">
                <img class="img-fluid ms-5" src="/img/cuadro2.jpg" alt="">
            </p>
            <p>Likewise, errors detected in the applications developed during previous months have been corrected.</p>
        </section>
        <section class="container p-4 mt-5">
            <h2>OCTOBER DE 2023</h2>
            <p>Acquisition and installation of a general control and visualization panel for all the renewable energy plants installed. This panel is pre-installed with the visualization and control systems of the future sources to be installed (wind and hydro).</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/cuadro3.jpg" alt="">
            </p>
            <p>On the other hand, cost calculation and visualization have been integrated into the resource allocation application.</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/cost_visualization.png" alt="">
            </p>
            <p>This allows to start working on the demand and generation forecasting application, with the corresponding unit allocation and costs (unit commitment application).</p>
            
        </section>
        <section class="container p-4 mt-5">
            <h2>NOVEMBER 2023</h2>
            <p>The reliability section has been integrated into the "Resource Allocation" application itself. This allows for more realistic scenario simulations, considering the possibility of breakdowns in generators or the network. These breakdowns are determined by statistical expressions.</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/fiabilidad.png" alt="">
            </p>
            <p>Additionally, improvements have been made, and errors detected in the application have been corrected. This makes the application more intuitive for the user, and simulations can be performed with lower computational costs.</p>
        </section>
        
        <section class="container p-4 mt-5">
            <h2>DECEMBER 2023</h2>
            <p>Acquisition and assembly of the micro-hydraulic plant in the GederLab. During December, the corresponding hydraulic installation of the upper and lower tanks, as well as the turbines and pumps, was carried out. This will enable experiments in the coming months involving this water resource.</p>
            <p>There is storage of 500 L in the upper tank and 500 L in the lower tank to simulate a closed water cycle. Additionally, there are two turbines of 1.50 kW each and two pumps of 0.60 kW each, providing 3 kW of turbine power and 1.2 kW of pumping power.</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/hidraulica.jpg" alt="">
            </p>
            <p>Furthermore, work is underway to develop an optimization system for renewable plants in the "Resource Allocation" application.</p>
        </section>
        
        <section class="container p-4 mt-5">
            <h2>JANUARY AND FEBRUARY 2024</h2>
            <p>The micro-hydropower plant has been integrated into the existing microgrid at GederLab.</p>
            <p>The integration of the available renewable micro plants is being improved, as well as the correction of errors and enhancements in existing applications.</p>
            <p>A vertical-axis wind turbine has been acquired, installed on the roof of building 5E, and will be integrated with the rest of the existing generators.</p>
            <p class="text-center">
                <img class="img-fluid" src="/img/eolica.jpg" alt="wind turbine">
            </p>
        </section>
        

        <section class="container p-4 mt-5">
            <h2>MARCH AND APRIL 2024</h2>
            <p>During the months of March and April, all the generators have been integrated. With this, a system is now available that includes:</p>
            <ul>
                <li>PV Generation</li>
                <li>Wind Generation</li>
                <li>Biogas Generation (simulated by generator set)</li>
                <li>Hydraulic Generation</li>
                <li>Battery Storage System</li>
                <li>Grid Connection</li>
                <li>Programmable Load</li>
            </ul>
            <p>All of these are being configured to be managed remotely from the GEDERlab control center and to perform the required simulations within the framework of the INASOLAR project.</p>
        </section>
        
        <section class="container p-4 mt-5">
            <h2>MAY 2024</h2>
            <p>The graphical interface of the website has been modified. Additionally, the logos of the research group (GEDER) and the INASOLAR project itself have been updated.</p>
            <img class="img-fluid" src="/img/web_nueva.png" alt="">
        </section>
        <section class="container p-4 mt-5">
            <h2>JUNE 2024</h2>
            <p>Support in the construction and management of the 700 kW PV plant in Aras de los Olmos.</p>
            <p class="text-center"><img class="img-fluid" src="/img/placas_aras.jpg" alt=""></p>
        </section>
        <section class="container p-4 mt-5">
            <h2>JULY 2024</h2>
            <p>While the new website continues to improve and the proper integration of all GEDERlab systems is underway, efforts to disseminate the project are being intensified. This task is key to giving greater visibility to the INASOLAR project and to showcasing the results being obtained. Therefore, the following results have been presented during the month of July:</p>
            <ol>
                <li>Development of a method for optimizing the sizing of renewable sources. This method has been presented in an article, which has been submitted to a high-impact journal in the sector.</li>
                <li>Attendance at the 22nd International Conference on Renewable Energies and Power Quality (ICREPQ’24). At this conference, the paper "Development of the energy hub GEDERlab at Universitat Politècnica de València for encouraging the integration of renewable energy resources" was presented. Both the paper and the poster presented can be found in the "Documents" section.</li>
            </ol>
            <p class="text-center"><img class="img-fluid" src="/img/posters.jpg" alt=""></p>
        </section>        
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>