<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <h2>Articles</h2>
                <ul>
                    <li><a href="/pdf/Paper 1 - Optimal sizing and design of renewable power plants in rural microgrids using multi-objective particle swarm optimization and branch and bound methods.pdf">Paper 1 - Optimal sizing and design of renewable power plants in rural microgrids using multi-objective particle swarm optimization and branch and bound methods</a></li>
                </ul>
                <h2>Conferences</h2>
                <ul>
                    <li><a href="/pdf/Congreso 1 - Dynamic algorithm to boost the synergy between biogas plants and photovoltaic plants.pdf">Congreso 1 - Dynamic algorithm to boost the synergy between biogas plants and photovoltaic plants</a></li>
                    <li><a href="/pdf/277-24-escriva.pdf">ICREPQ24 - PAPER: Development of the energy hub GEDERlab at Universitat Politècnica deValència for encouraging the integration of renewable energy resources</a></li>
                    <li><a href="/pdf/277-24-escriva-poster.pdf">ICREPQ24 - POSTER: Development of the energy hub GEDERlab at Universitat Politècnica deValència for encouraging the integration of renewable energy resources</a></li>
                </ul>
            </section>
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>