<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <p>To <strong>achieve self-sufficiency</strong> in Aras de los Olmos, and subsequently to be able to <strong>replicate</strong> it in <strong>any municipality</strong>, it is necessary to define specific objectives.</p>
                <div class="container text-center">
                    <div class="col align-self-center">
                        <img src="/img/Objetivos.png" alt="" class="img-fluid">
                      </div>
                </div>
                <p class="text-end mt-4 "><a href="/en/development"><button class="link fw-bold p-4">Learn more about INASOLAR programming</button></a></p>
            </section>
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>