<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto ">
            <section class="container p-4">
                <h2>INASOLAR: Infrastructure for sustainable electricity self-supply with renewable sources in the municipality of Aras de los Olmos.</h2>
                <p>Energy self-sufficiency implies the generation of enough electricity for own use without the requirement of energy from other external sources. In this way, the energy supply is created and consumed by the municipality itself.</p>
                <div class="row">
                    <div class="col-sm-12 col-md-8 ">
                        <p>The installation of systems that allow this type of energy model based on self-consumption is becoming more and more widespread, with the goal of:</p>
                        <ul>
                            <li>Reducing energy dependence on the electricity grid.</li>
                        </ul>
                        <ul>
                            <li>Reduce environmental impact.</li>
                        </ul>
                        <p>European directives, which seek a transition from the current fossil fuel-based energy system to a new system based on renewable energies, are boosting this process.</p>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-2 text-center">
                        <div class="row">
                            <img src="/img/goals.png" class="img-fluid" alt="">
                        </div>
                        
                        <div class="row">
                            <p class="text-end fs-5">Source: <a href="https://www.un.org">www.un.org</a></p>
                        </div>
                    </div>
                </div><br>
                <p class="mb-5">For this purpose, one or a combination of renewable energy sources is usually used, including:</p>
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-sm-12 col-md-3 mb-2 text-center">
                            <img class="img-fluid" src="/img/solar_panel_index.png">
                        </div> 

                        <div class="col-sm-12 col-md-9 ">
                            <h4>Photovoltaic solar energy</h4>
                            <!--
                                Lo he intentado así, pero no sale, revisar
                            <ul>
                                <li class="check">Disponible en cualquier lugar, especialmente en los de alta irradiancia</li>
                            </ul>
                            -->
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1 "><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle"><p>Available anywhere, especially in high irradiance locations</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Low cost</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/cross.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Not manageable and only produces during sunshine hours</p> </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-sm-12 col-md-9 ">
                            <h4>Wind energy</h4>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Available in most areas with moderate wind conditions</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Day and night production</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/cross.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Unmanageable and with high variability</p> </div>                        
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-2 text-center">
                            <img class="img-fluid" src="/img/eolic_index.png">
                        </div> 
                    </div>
                    <div class="row mb-5">
                        <div class="col-sm-12 col-md-3 mb-2 text-center">
                            <img class="img-fluid" src="/img/biogas_index.png">
                        </div> 

                        <div class="col-sm-12 col-md-9 ">
                            <h4>Biogas energy</h4>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Manageable</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Stable voltage waveform via synchronous generator</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Improves the reliability of the power system</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/cross.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Requires large areas of land</p></div>                        
                            </div>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-sm-12 col-md-9">
                            <h4>Hydroelectric power</h4>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Manageable</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Can be used as storage of surplus energy</p> </div>                        
                            </div>
                            <div class="row">
                                <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/cross.png" alt=""></div>
                                <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>High cost and high environmental impact</p> </div>                        
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 mb-2 text-center">
                            <img class="img-fluid" src="/img/hydroelectric_index.png">
                        </div> 
                    </div>
                    <p><strong>INASOLAR</strong> is presented as a <strong>pioneering</strong> R&D&I project, which aims to develop the necessary infrastructure to achieve <strong>self-sufficiency</strong> in the municipality of Aras de los Olmos, located in Valencia. It is intended that this system can be replicated by other municipalities seeking to be self-sufficient, with the numerous advantages that this entails.</p>
                    <img class="img-fluid" src="/img/Aras.png" alt="">
                    <p class="text-end "><a href="/en/project"><button class="link fw-bold p-4 mt-5">More about INASOLAR</button></a></p>
                </div>
            </section>
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>