<!DOCTYPE html>
<html lang="es">
    <%- include('head_en.ejs'); -%>
    <body class="fs-5">
        <%- include('header_en.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <p>The <strong>INASOLAR</strong> project springs from the need of the municipality of Aras de los Olmos to be able to <strong>achieve</strong> an energy system that allows:</p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-8 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Use its <strong>own</strong> resources.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Achieve <strong>autonomous and sustainable</strong> operation</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Achieve a <strong>low dependence</strong> on the grid.</p></div>                        
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-2 text-center">
                        <div class="row">
                            <img class="img-fluid" src="/img/aras_project.jpg">
                        </div>
                        <div class="row">
                            <p class="text-end fs-5">Source: <a href="https://xarxajove.info/es/">https://xarxajove.info/es/</a></p>
                        </div>
                    </div>
                </div>
                <p>Therefore, INASOLAR aims to achieve the following general milestones:<strong>milestones</strong></p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-3 mb-2 text-center">
                        <img class="img-fluid" src="/img/city_project.png">
                    </div> 
                    <div class="col-sm-12 col-md-9 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/1.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Develop the infrastructure of renewable resources.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/2.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Achieve the supply of all consumption.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/3.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Autonomous operation of the municipality.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/4.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Achieve disconnection from the electricity grid.</p></div>                        
                        </div>
                    </div>
                </div>
                <p>To this end, it must be ensured that the <strong>generation of electricity</strong> from renewable sources <strong>always equals the demand.</strong></p>
                <p>The <strong>results</strong> of this <strong>pioneering system</strong> will allow:</p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-9 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Optimal</strong> use of natural resources.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Reduction</strong> in <strong>greenhouse gas emissions.</strong></p></div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="/img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Transition</strong> to an energy model based on <strong>renewable resources.</strong></p> </div>                        
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 mb-2 text-center">
                        <img class="img-fluid" src="/img/results_project.jpg">
                    </div> 
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-start "><a href="/en/goals"><button class="link fw-bold p-4">Learn more about INASOLAR's objectives</button></a></p>
                    </div>
                    <div class="col-6">
                        <p class="text-end "><a href="/en/about"><button class="link fw-bold p-4">Find out more about the INASOLAR team</button></a></p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('footer_en.ejs'); -%> 
    </body>
</html>