<header class="mx-auto">
  <!--<div class="text-end" id='google_translate_element'></div>-->
  <div class="container">
    <div class="row row-gap-0 align-items-center">
      <div class="col-12 col-md-6">
        <a href="index.html" alt="Curso CRMag" title="INASOLAR Project">
          <img src="img/Inasolarlogo.png" class="img-fluid " alt="logo1" />
        </a>
      </div>
      <div class="col-md-2 d-none d-md-block">
        <a href="https://geder.es/" alt="Curso CRMag" title="INASOLAR Project">
          <img src="img/logogeder.jpg"  class="img-fluid " alt="logo1" />
        </a>
      </div>
      <div class="col-md-4 d-none d-md-block ">
        <a href="http://www.upv.es" alt="Universitat Politécnica de València" title="Universitat Politécnica de València" target="_blank">
          <img src="img/logoupv.png"  class="img-fluid" alt="logo2" />
        </a>
      </div>
    </div>
    <div class="row">
      <%- include('nav.ejs'); -%> 
    </div>
    
  </div>
  <!--
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({
      pageLanguage: 'es',
      autoDisplay: 'true', 
      layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
      }, 'google_translate_element');
    
    }
    </script>
    <script src='//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit'></script>
  -->
</header>
