<!DOCTYPE html>
<html lang="es">
    <%- include('head.ejs'); -%>
    <body class="fs-5">
        <%- include('header.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <p>Para poder <strong>alcanzar</strong> el autoabastecimiento de Aras de los Olmos, y posteriormente poder replicarlo en cualquier municipio, es necesario definir unos objetivos específicos. </p>
                <div class="container text-center">
                    <div class="col align-self-center">
                        <img src="img/Objetivos_es.png" alt="" class="img-fluid" style="width: 100%">
                      </div>
                </div>
                <p class="text-end mt-4 "><a href="/desarrollo"><button class="link fw-bold p-4">Conocer más sobre la programación de INASOLAR</button></a></p>
            </section>
        </main>
        <%- include('footer.ejs'); -%> 
    </body>
</html>