<!DOCTYPE html>
<html lang="es">
    <%- include('head.ejs'); -%>
    <body class="fs-5">
        <%- include('header.ejs'); -%> 
        <main class="mx-auto">
            <section class="container p-4">
                <p>El proyecto <strong>INASOLAR</strong> nace de la necesidad del municipio de Aras de los Olmos de poder <strong>alcanzar</strong> un <strong>sistema energético</strong>  que permita:</p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-8 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Utilizar sus <strong>propios</strong> recursos energéticos.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Lograr un funcionamiento <strong>autónomo y sostenible.</strong></p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Alcanzar un grado bajo de <strong>dependencia</strong> de la red.</p> </div>                        
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 mb-2 text-center">
                        <div class="row">
                            <img class="img-fluid" src="img/aras_project.jpg">
                        </div>
                        
                        <div class="row">
                            <p class="text-end fs-5">Fuente: <a href="https://xarxajove.info/es/">https://xarxajove.info/es/</a></p>
                        </div>
                    </div>

                </div>
                <p>Por ello, en INASOLAR se pretende lograr los siguientes <strong>hitos</strong> generales:</p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-3 mb-2 text-center">
                        <img class="img-fluid" src="img/city_project.png">
                    </div> 
                    <div class="col-sm-12 col-md-9 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/1.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Desarrollar la infraestructura de recursos renovables.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/2.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Lograr el abastecimiento de todo el consumo.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/3.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Conseguir el funcionamiento autónomo del municipio.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/4.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p>Alcanzar la desconexión de la red eléctrica nacional.</p></div>                        
                        </div>
                    </div>
                </div>
                <p>Para ello se debe asegurar en todo momento de que la <strong>generación de energía eléctrica</strong> de origen renovable <strong>iguale a la demanda</strong> en todo momento. </p>
                <p>Los <strong>resultados</strong>  de este <strong>sistema pionero</strong> permitirán:</p>
                <div class="row mb-5">
                    <div class="col-sm-12 col-md-9 ">
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Uso óptimo</strong> de los recursos naturales.</p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Disminución</strong> en las emisiones de gases de <strong>efecto invernadero.</strong> </p> </div>                        
                        </div>
                        <div class="row">
                            <div class="col-3 col-sm-2 col-lg-1"><img class="check img-fluid" src="img/green_check.png" alt=""></div>
                            <div class="col-9 col-sm-10 col-lg-11 align-middle""><p><strong>Transición</strong> hacia un modelo energético basado en <strong>recursos renovables.</strong></p> </div>                        
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-3 mb-2 text-center">
                        <img class="img-fluid" src="img/results_project.jpg">
                    </div> 
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="text-start "><a href="/objetivos"><button class="link fw-bold p-4">Conocer más sobre los objetivos de INASOLAR</button></a></p>
                    </div>
                    <div class="col-6">
                        <p class="text-end "><a href="/conocenos"><button class="link fw-bold p-4">Conocer más sobre el equipo de trabajo de INASOLAR</button></a></p>
                    </div>
                </div>
            </section>
        </main>
        <%- include('footer.ejs'); -%> 
    </body>
</html>